<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @donor.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @donor.lname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @donor.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @donor.city %>
</p>

<p>
  <strong>Landmark:</strong>
  <%= @donor.landmark %>
</p>

<p>
  <strong>State:</strong>
  <%= @donor.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @donor.country %>
</p>

<p>
  <strong>Phoneno:</strong>
  <%= @donor.phoneNo %>
</p>

<p>
  <strong>Donortype:</strong>
  <%= @donor.donortype %>
</p>

<p>
  <strong>User:</strong>
  <%= @donor.user_id %>
</p>

<%= link_to 'Edit', edit_donor_path(@donor) %> |
<%= link_to 'Back', donors_path %>
