<%= form_for(@wishlist) do |f| %>
  <div class="container col-sm-12 form-color form-border" style="padding-bottom:1%;">
    <div class="form-group row header-padding">
            <%= f.label "Wishlist Name",class:'control-label col-sm-2'%>
            <div class="col-sm-3">
              <%= f.text_field :wname,class:'form-control', placeholder: "Enter the wishlist's name"%>
            </div>
            <div class="col-sm-6">
              <%if @wishlist.errors[:wname].any? %>
                <ul>
                  <%msg=""%>
                  <%for errMsg in @wishlist.errors.full_messages_for(:wname)%>
                    <%msg="#{errMsg}. #{msg}"%>
                  <%end%>
                  <li id="errMsgList"><font face="Times New Roman" size="3" color="red"><%=msg%></font></li>
                </ul>
              <%end%>
            </div>
          </div>
          
          <div class="form-group row">
            <%= f.label :"Description",class:'control-label col-sm-2'%>
            <div class="col-sm-3">
              <%= f.text_field :wdescription,class:'form-control', placeholder: 'Description about the wishlist'%>
            </div>
            <div class="col-sm-6">
              <%if @wishlist.errors[:wdescription].any? %>
                <ul>
                  <%msg=""%>
                  <%for errMsg in @wishlist.errors.full_messages_for(:wdescription)%>
                    <%msg="#{errMsg}. #{msg}"%>
                  <%end%>
                  <li id="errMsgList"><font face="Times New Roman" size="3" color="red"><%=msg%></font></li>
                </ul>
              <%end%>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label "Type",class:'control-label col-sm-2'%>
            <div class="col-sm-3">
              <%= f.text_field :wtype,class:'form-control', placeholder: 'Select the type'%>
            </div>
            <div class="col-sm-6">
              <%if @wishlist.errors[:wtype].any? %>
                <ul>
                  <%msg=""%>
                  <%for errMsg in @wishlist.errors.full_messages_for(:wtype)%>
                    <%msg="#{errMsg}. #{msg}"%>
                  <%end%>
                  <li id="errMsgList"><font face="Times New Roman" size="3" color="red"><%=msg%></font></li>
                </ul>
              <%end%>
            </div>
          </div>
          <div class="form-group row">
              <%= f.hidden_field :isActive,class:'form-control',:value=>"created"%>
          </div>
          <div class="form-group row">
            <%= f.label "Wishlist Photo",class:'control-label col-sm-2'%>
            <div class="col-sm-3">
              
              <%= f.file_field :wphoto %>
            </div>
            <div class="col-sm-6">
              <%if @wishlist.errors[:wphoto].any? %>
                <ul>
                  <%msg=""%>
                  <%for errMsg in @wishlist.errors.full_messages_for(:wphoto)%>
                    <%msg="#{errMsg}. #{msg}"%>
                  <%end%>
                  <li id="errMsgList"><font face="Times New Roman" size="3" color="red"><%=msg%></font></li>
                </ul>
              <%end%>
            </div>
          </div>
          <div class="form-group row">
            <%if current_user_type=='charity'%>
              <%= f.hidden_field :charity_id,:value=>"#{current_user.id}",class:'form-control'%>
            <%end%>
          </div>
          <div class="form-group row">
            <%if current_user_type=='donor'%>
              <%= f.hidden_field :donor_id,:value=>"#{current_user.id}",class:'form-control'%>
            <%end%>
          </div>
          <div class="form-group row">
            <%if current_user_type=='charity'%>
              <%= f.hidden_field :createdBy,:value=>'c',class:'form-control'%>
            <%else%>
              <%= f.hidden_field :createdBy,:value=>'d',class:'form-control'%>
            <%end%>
          </div>
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
              <%=f.submit :Create,:class=>"btn btn-primary"%>
            </div>
          </div>
    </div>
  <% end %>