<div class="container col-sm-12">
  <%if @wishlists.count>0%>
    <%@wishlists.each_with_index do |wishlist,index|%>
      <% if index%3==0 %>
        <br>
        <div class="container">
        <div class="row-fluid">
      <% end%>
        <% if index%3==0 %>
          <div class="white-color col-sm-2 round-corners">
        <%else%>
          <div class="white-color col-sm-2 col-sm-offset-1 round-corners">
        <% end%>
            <div class="row">
              <div class="container col-sm-12 img-container">
                <!--<div class="col-sm-11 img-container">-->
                  <%=image_tag wishlist.wphoto.url(:thumb),class:"img-responsive wishlist-height center-image"%>
                <!--</div>-->
              </div>  
            </div>
            <div class="row">
              <div class="col-sm-12 text-center">
                <h5><b><%= wishlist.wname.capitalize %></b></h5>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-center">
                <h5><b>Charity : <%=@charity[index]%></b></h5>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-center">
                <h5><b><%=wishlist.wdescription.capitalize%></b></h5>
              </div>
            </div>
            <%if wishlist.createdBy=='c' || wishlist.createdBy=='d'%>
            <%if current_user_type=="admin" || (current_user.id==wishlist.charity_id && wishlist.createdBy=='c' && current_user_type=='charity') || (current_user.id==wishlist.donor_id && wishlist.createdBy=='d' && current_user_type=='donor')%>
            <div class="row bottom-padding">
              <div class="col-sm-4">
                <%= link_to 'Show', wishlist %>
              </div>
              <div class="col-sm-4">
                <%= link_to 'Edit', edit_wishlist_path(wishlist) %>
              </div>
              <div class="col-sm-4">
                <%= link_to "/charities/#{wishlist.charity_id}/wishlists/#{wishlist.id}",method: :delete,data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <%end%>
              </div>
            </div>
            <%end%>
            <%if current_user_type=="admin" || (current_user_type=='charity' && current_user.id!=wishlist.charity_id) || (current_user_type=='donor' && current_user.id!=wishlist.donor_id && wishlist.createdBy=='c')%>
              <div class="row col-sm-12">
                <div class="col-sm-12 btn btn-primary">
                  <%=wishlist.id%>
                  <%=link_to "Doante",donate_path,:id=>wishlist.id%>
                </div>
              </div>
          <%end%>
          <%end%>
          </div>
          <div class="visible-xs">
            <br>
          </div>
      <% if (index)%3==2 %>
        </div>
        </div>
        <br>
      <%end%>
    <%end%>
  <%end%>
</div>  
</div>
</div>