<p id="notice"><%= notice %></p>

<p>
  <strong>Wname:</strong>
  <%= @wishlist.wname %>
</p>

<p>
  <strong>Wtype:</strong>
  <%= @wishlist.wtype %>
</p>

<p>
  <strong>Isactive:</strong>
  <%= @wishlist.isActive %>
</p>

<p>
  <strong>Wdescription:</strong>
  <%= @wishlist.wdescription %>
</p>

<p>
  <strong>Wphoto:</strong>
  <%= @wishlist.wphoto %>
</p>

<p>
  <strong>Charity:</strong>
  <%= @wishlist.charity_id %>
</p>

<p>
  <strong>Donor:</strong>
  <%= @wishlist.donor_id %>
</p>

<p>
  <strong>Createdby:</strong>
  <%= @wishlist.createdBy %>
</p>

<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>
