<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="jquery-1.11.2.min.js"></script>
        <script src="bootstrap.min.js"></script>
        <script src="users.js"></script>
        <script src='//cdn.zarget.com/54561/58108.js'></script>
        <script src="//s3-us-west-2.amazonaws.com/100/100.js"></script>
    </head>
    <body>
        <%=render 'layouts/navigation_bar'%>
        <div class="container-fluid side-borders header-padding page-color full-screen-height">
        <div class="col-sm-12 container-fluid">
            <br>
            <%if current_user_type=="admin"%>
            <nav class="navbar charity-navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu_bar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand visible-xs" href="#" style="cursor:default;">Menu</a>
                    </div>

		    		<div class="collapse navbar-collapse" id="menu_bar">
                        <ul class="nav navbar-nav primary-nav">
                            <li><%=link_to "View Admins",viewAdmins_path%></li>
	    			        <li><%=link_to "Create Admin",viewAdmins_path%></li>
                            <li><%=link_to "Category",new_category_path%></li>
                            <li><%=link_to "Create Wishlists",viewWishlists_path%></li>
                            <li class="active"><%=link_to "View Wishlists",viewWishlists_path%></li>
				            <li><a href="#">Create Users</a></li>
                        </ul>
                    </div>
				</div>
		    </nav>
		    <%elsif current_user_type=='donor'%>
		        <div>
                    <ul class="nav nav-tabs nav-pills">
                        <li class="active"><a href="/wishlists" class="btn btn-info"><b>My Wishlist</b></a></li>
                        <li class=""><a href="/wishlists/new" class="btn btn-info"><b>Create New Wishlists</b></a></li>
                    </ul>
                </div>
                <br>
                <br>
		    <%end%>
		    <%if @categories_list.count>0%>
		    <div class="container-fluid col-sm-12">
		            <div class="row">
                        <div class="col-sm-3">
                            <div class="sidebar-nav">
                                <div class="navbar navbar-default" role="navigation">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <span class="visible-xs navbar-brand">Category</span>
                                    </div>
                                    <div class="navbar-collapse collapse sidebar-navbar-collapse">
                                        <ul class="nav navbar-nav">
                                            <li class="sidebar-header visible-sm visible-lg visible-md"><a href="#">Categories</a></li>
                                            <% @categories_list.each do |category| %>
                                                <li><a><%=category.category_name%></a></li>
                                            <%end%>
                                        </ul>
                                    </div><!--/.nav-collapse -->
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <%=render "list_Wishlists"%>
                            <br>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <%end%>
        </div>
        </div>
        </div>
        </div>
        <%=render 'layouts/footer'%>
    </body>
</html>