<section class="container-fluid side-borders" id="section1">
            <div class="row">
                <div class="col-lg-offset-4 pull-left" style="margin-top:35px;">
                    <%=link_to image_tag('logo.png',:width=>'80'),root_url,{:class=>"img-responsive pull-right",style:"margin-left:-10px;"}%>
                </div>
                <div class="col-lg-2 pull-left headLogo" style="margin-top:48px;">
                    <b>
                    <font size="6pt">
                        <%=link_to "HelpingHANDS",root_url,:class=>'headLogo'%>
                    </font>
                    </b>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div id="myCarousel" class="carousel slide center-block" data-ride="carousel">
                    <!--indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="margin-left:42px;">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="margin-right:42px;">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                    
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <%=image_tag('q.png',size:"700x200",:class=>"img-responsive center-block")%>
                        </div>
                        <div class="item">
                            <%=image_tag('q6.jpg',size:"700x200",:class=>"img-responsive center-block")%>
                        </div>
                        <div class="item">
                            <%=image_tag('qq3.jpg',size:"700x200",:class=>"img-responsive center-block")%>
                        </div>
                        <div class="item">
                            <%=image_tag('qq6.jpg',size:"700x200",:class=>"img-responsive center-block")%>
                        </div>
                        <div class="item">
                            <%=image_tag('qq8.jpg',size:"700x200",:class=>"img-responsive center-block")%>
                        </div>
                        <div class="item">
                            <%=image_tag('qq2.jpg',size:"700x200",:class=>"img-responsive center-block")%>
                        </div>
                    </div>
                </div>
            </div>
        </section>




<section class="container-fluid side-borders" id="section2">
    <div class="row">
  	    <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1>What is HelpingHANDS?</h1>
            <br>
            <br>
            <p class="lead">
                Many of us have things that we just dont use anymore piling up in the closets and the corners of our homes.
                At the same time, someone else might be in need of those things that we dont use anymore.
            </p>
            <br>
            <p class="lead" >
                We can help the charities in need by donating clothes and other gently used household items to local charities. 
                Even our small donations make a big difference to individuals who are struggling to make ends meet.
            </p>
            <br>
            <p class="lead">
                Do you have clothing and household items to donate to charity and you don’t know where to begin?
                <br>HelpingHANDS is the best place to get started!
            </p>
            <br>
            <p class="lead">
                Log on to HelpingHANDS today to locate a charity seeking donations of gently used items.
                Also a charity can raise their demands through HelpingHANDS.
            </p>
        </div>
    </div>
</section>
        
<section class="container-fluid side-borders" id="section3">
            <br>
            <br>
            <div class="container col-sm-12">
            </div>
        </section>
        
        <section class="container-fluid side-borders" id="section4">
            <br>
            <br>
            <div class="container col-sm-12">
                <div class="row">
                    <div class="col-sm-3">
                        <%=image_tag "aa.png",:class=>"img-responsive"%>
                        <%=image_tag "ax.png",:class=>"img-responsive"%>
                    </div>
                    <div class="col-sm-6">
                        <%=image_tag "in.png",:class=>"img-responsive"%>
                        <!--<button class="btn btn-danger btn-xl btn-circle"><b>Sign Up&nbsp;<span class="glyphicon glyphicon-ok"></span></b></button>-->
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <br>
                        <%=image_tag "images.jpg",:class=>"img-responsive donation-image",size:"400x500"%>
                        <%=image_tag "Donate.png",:class=>"img-responsive"%>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-sm-3 col-sm-offset-1  pull-right">
                        <%=image_tag "Donate.png",:class=>"img-responsive"%>
                        <%=image_tag "images.jpg",:class=>"img-responsive"%>
                    </div>
                </div>-->
            </div>
        </section>
        
        <section class="container-fluid side-borders" id="section5">
            <div class="container" style="padding-top:40px;">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-2 text-center">
                                <h3>
                                    Feel rich
                                </h3>
                                <p>
                                    Donating used clothes to a shelter, new shoes to foster kids, or 
                                    money to a worthy organization will make you feel rich.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-2 text-center">
                                <h3>
                                    Make a difference
                                </h3>
                                <p>
                                     Donating to charity is the perfect opportunity to make a difference in the world. 
                                     By making a difference to someone’s life, you are leaving behind a legacy.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-2 text-center">
                                <h3>
                                    Give your skills
                                </h3>
                                <p>
                                    Writing a check isn’t the only way to give. 
                                    If you have a marketable skill or hobby, you can use it to help someone in need.
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!--/row-->
                <div class="row"><br></div>
            </div><!--/container-->
            <div class="container col-sm-12">
                <h1 class="text-center v-center">Be part of something bigger</h1>
            </div>
            <div class="container" style="padding-top:12%;">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-2 text-center">
                                <h3>
                                    Give a new life
                                </h3>
                                <p>
                                    Donating household items to charity can give a second life to the things you no longer need
                                    by putting them in the hands of the needy.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-2 text-center">
                                <h3>
                                    Personal Satisfaction
                                </h3>
                                <p>
                                    What motivates you more: Having stuff or feeling good? If you chose the latter, you're not alone.
                                    Helping those in need gives you the ultimate satisfaction.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-2 text-center">
                                <h3>
                                   Work your network
                                </h3>
                                <p>
                                    Don’t be shy
                                    Spread the word about what you are doing, you’ll be surprised at how many people will want to help out.
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!--/row-->
                <div class="row"><br></div>
            </div><!--/container-->
        </section>